
.change_blue:hover,.change_blue:hover a{
  background:#38b7ea;
  color:#fff;
  cursor: pointer;

}
.item{
  border: 1px #dddddd solid;
  font-size: 13px;
}
.item a{
  text-decoration: none;
  color:#212529;
  display: block;
  height:100%;
  width:100%;
}
.container>.row{
  padding-top:40px;
}
.item>dt{
  text-align: center;
  height: 130px;
  background-color:#fff;
  padding-top:15px;
}
.item>dt>img{
  /*height: 100px;*/
  display: inline-block;
  height: 100px;
  max-width: 100%;
}

.item>dd>p{
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom:0;
  /*border-bottom: 1px #ccc solid;*/
}
.item>dd{
  margin-bottom:0;
}
.item .mybtn a{
  border:none;
  color: #fff;
  width: 100px;
  height: 30px;
  display: block;
  border-radius: 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 10px auto 10px;
  background: #38b7ea;
  cursor: pointer;
}
.item .mybtn a:hover{
  background:#49c8fb;
  transition: all .5s;
}
.mybtn{
  height: 50px;
  text-align: center;
}

.text1,.text2{
  margin: 0;
}

.text1{
  text-align: center;
}

.text1>div{
  padding:8px 0;
  border-top:1px solid #ccc;
}
.text1 .center{
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
}
.text2{
  text-align: center;
}
.text2 .border_right{
  border-right:1px solid #ccc;
}
.text2>div{
  border-top:1px solid #ccc;
  border-bottom: none;
  line-height: 1em;
}
.text2>div a{
  display: block;
  padding:15px 0;
}