<div class="item">
  <a href="#animatedModal" data-url="<%-item.url%>">
    <dd>
      <span style="background-image:url(<%-item.img%>)"></span>
    </dd>
    <dt>
      <h2 class="h2"><%=item.name%></h2>
    </dt>
  </a>
  <p>
    <%=item.desc%>
  </p>
</div>