<div class="item">
    <a target="_blank" href="<%- item.url %>">
        <div class="logo">
            <img data-original="#" width="100%" class="loaded" src="#">
            <%= item.name %>
        </div>
        <div class="desc"> <%= item.desc %></div>
    </a>    
</div>



