
*{
    margin:0;
    padding:0;
}
body{
    background:#eaeaea;
    font:14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif !important;
    font-weight: 300;
}
.sm_banner{
    background-color: #38b7ea;
    color:#fff;
    font:14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;

}
.txt-center{
    text-align: center;
}
.blue{
    background:#38b7ea;
    color:#fff;
}
/*左边css col-md-9*/
.main_left{
    background:#fff;
    padding-top:30px;
}

.main_left>.linklist dl{
    padding:30px 20px;
    padding-right: 100px;
    text-align: center;
    background-color: #eaeaea;
    border-radius: 8px;
    background-image: url(../images/book.png);
    background-size: 120px;
    background-position: right -5px top 5px;
    background-repeat: no-repeat;
}

.main_left>.linklist dl>dt{
    font-size:22px;
    font-weight:400;
}

.main_left>.linklist dl>dd{
    font-size: 16px;
    line-height: 30px;
}



.main_left>.downlist dl{
    padding:20px;
    padding-left: 150px;
    border-top:1px #ccc solid;
    background-image: url(../images/book.png);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 10px 15px;
}

.main_left>.downlist dt{
    padding-bottom: 10px;
}


.main_left .left{
    float: left;
    font-size: 15px;
}

.main_left .right{
    float: right;
    font-size: 15px;
    border: 1px #ccc solid;
    padding:5px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.main_left .down_btn{
    padding-top:15px;
}


/*右边css col-md-3*/
.main_right{
    background: #F0F0F0;
}
.main_right .item{
    border: 1px #dddddd solid;
    font-size: 13px;
}


.main_right .container>.row{
    padding-top:40px;
}

.main_right .item>dt{
    text-align: center;
    height: 130px;
    background-color:#fff;
    padding-top:15px;
}
.main_right .item>dt>img{
    height: 100px;
}

.main_right .item>dd>p{
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom:0;
    /*border-bottom: 1px #ccc solid;*/
}
.main_right .item>dd{
    margin-bottom:0;
}
.main_right .item input{
    border:none;
    color: #fff;
    width: 100px;
    height: 30px;
    display: block;
    border-radius: 20px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin: 10px auto 10px;
    background: #38b7ea;
    cursor: pointer;
}
.main_right .item input:hover{
    background:#49c8fb;
    transition: all .5s;
}
.main_right .mybtn{
    height: 50px;
    text-align: center;
}

.main_right .text1,.main_right .text2{
    margin: 0;
}

.main_right .text1{
    text-align: center;
}

.main_right .text1>div{
    padding:8px 0;
    border-top:1px solid #ccc;
}
.main_right .text1 .center{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.main_right .text2{
    text-align: center;
}
.main_right .text2 .border_right{
    border-right:1px solid #ccc;
}
.main_right .text2>div{
    border-top:1px solid #ccc;
    padding:15px 0;
    border-bottom: none;
    line-height: 1em;
}

