<%- css('css/tech/nav')%>
<div class="mesh_nav" id="fePortalsItem">
    <% for(var i = 0; i < page.data.length; ++i) { %>
        <div class="sub-category">
            <h2 class="title">
                <i class="icon fa <%- page.data[i].icon %>"></i>
                <%= page.data[i].name %>
            </h2>
            <div class="row">
                <!-- 标题 -->
                <% for(var k = 0; k < page.data[i].list.length; ++k) { %>
                    <div class="col-md-4 col-sm-6">
                        <%- include('jsxp/nav_item', {item: page.data[i].list[k]}) %>
                    </div>
                <% } %>
            </div>        
        </div>
    <% } %>

</div>