<%- css('css/tech/relative') %>
<div class="article-single">
<h1>相关资料</h1>
<div class="row materials">
    <% for(var i = 0; i < page.materials.length; ++i) {%>
      <div class="col-md-4">
          <%- include('jsxp/tech/relative_material', {item: page.books[i]}) %>
      </div>
    <% } %>
</div>

<h1>相关书籍</h1>
<div class="row books">
    <% for(var i = 0; i < page.books.length; ++i) {%>
      <div class="col-md-12">
          <div class="row">
          <%- include('jsxp/tech/relative_book', {item: page.books[i]}) %>
          </div>  
      </div>
    <% } %>
</div>
</div>