<%page.hideSlide=true%>

 
<% // 统计数据 & 设置标题
for(var i = 0; i < site.pages.length; i++){
  var p = site.pages.data[i];
  var match = p.path.match(/tech\/(\S*)\/(\S*).html/);
  if (!match)
    continue;
  
  var tech = match[1];
  switch(match[2]) {
    case 'notes': {
      p.title = '教学讲义'; 
      break;
    }
    case 'case': {
      site.data.technologies[tech].case = tagCounter(p);
      p.title = '案例'; 
      break;
    }
    case 'relative': {
      p.title = '资料'; 
      break;
    }
  }
} %>

<%- css('css/tech/index') %>
<%- css('libs/zeroModal/zeroModal') %>
<%- js('libs/zeroModal/zeroModal.min') %>

<div class="row">
    <% for(var key in site.data.technologies) { %>
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <%- include('jsxp/tech', {tech: key}) %>
        </div>
    <% } %>
</div>

<script>
  $('.plan').click(function(){
    zeroModal.alert({
      content: '未开通权限!',
      contentDetail: '请联系管理员开通权限后再进行操作',
      transition:true,
      opacity: 1, // 遮罩层的透明度
//            forbidBodyScroll: true,  //是否禁用滚动条
      esc: true, //是否需要按esc键退出弹出层，默认false
      width: $(window).width() < 768 ? '60%' : '300'
    })
  })
</script>