<aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p><%= __('sidebar.follow') %>:</p>
        <ul class="social-links">
            <li>
                <a class="social-tooltip" title="火星时代" href="http://edu.hxsd.com/edunew/topics/webfull/index.html" target="_blank">
                    <i class="icon fa fa-dribbble"></i>
                </a>
            </li>
            <li>
                <a class="social-tooltip" title="weibo" href="#" target="_blank">
                    <i class="icon fa fa-weibo"></i>
                </a>
            </li>
            <li>
                <a class="social-tooltip" title="rss" href="/atom.xml" target="_blank">
                    <i class="icon fa fa-rss"></i>
                </a>
            </li>
        </ul>
    </div>
    <% if (is_post()) { %>
        <%- partial('post/nav', {post: page}) %>
    <% } %>    
    <div class="widgets-container">
        <% if (is_post() || is_home()) { %>
            <% if (theme.post_widgets) { %>
                <% theme.post_widgets.forEach(function(widget) { %>
                    <%- partial('widget/' + widget) %>
                <% }) %>
            <% } %>
        <% } else { %>
            <% if( theme.tech_widgets) { %>
                <% theme.tech_widgets.forEach(function(widget) { %>
                    <%- partial('widget/' + widget) %>
                <% }) %>
            <% } %>
        <% } %>
    </div>
</aside>
<script>
    $(function(){
        $(window).scroll(function(){
            if($(document).scrollTop()>=240){
                $('#sidebar .sidebar-toggle').addClass('fix');
                if($('#sidebar .sidebar-toggle').css("display")=="block")
                $('.is-position-fixed').css("top","35px");
            }else{  
                $('#sidebar .sidebar-toggle').removeClass('fix');
            }
        })
    })
</script>