<link rel="stylesheet" href="css/tech/technologies.css">
<div class="row">
    <% for(var key in site.data.technologies) { %>
        <div class="col-md-3 col-sm-6">
            <%- include('tech', {tech: key}) %>
        </div>
    <% } %>
</div>