<%- css('css/tech/technology') %>
<div class="widget-wrap widget-list">
    <h3 class="widget-title"><%= __('sidebar.links') %></h3>
    <div class="widget">
        <%- include('../jsxp/index/tech', {tech: "html"}) %>
    </div>
</div>
