<% 
    var category = page.categories && page.categories[0];
    var tech = site.data.technologies[category] 
%>
<% if (tech) { %>
    <%- css('css/tech/technology') %>
    <div class="widget-wrap widget-list">
        <div class="widget">
            <%- include('../jsxp/tech', {tech: category}) %>
        </div>
    </div>
<% } %>