<%- css('css/tech/toc') %>
<div class="widget-wrap widget-list widget-toc">
    <h3 class="widget-title"><%= __('sidebar.toc') %></h3>
    <div class="widget">
        <div class="toc"></div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/3.0.5/tocbot.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/3.0.5/tocbot.min.js"></script>
        <script>
        $(function(){        
            tocbot.init({
                tocSelector: '.toc',
                contentSelector: '.main-body-content',
                headingSelector: 'h1, h2, h3',
                positionFixedSelector: '.widget-toc',
                fixedSidebarOffset: '750'
            });
        })
        </script>
    </div>
</div>
