@import "technology"

.main-body
  background: transparent
  #main
    .main-body-header
      visibility:hidden
      background: transparent

    .main-body-content
      background: transparent
      
      .technology
        margin-top:40px
        border-radius: 4px 4px 0 0
        overflow:hidden
        transition: all .5s
        &:hover
          box-shadow: 0 2px 2px 1px #cecece
          -webkit-box-shadow: 2px 2px 2px 0 #cecece

