@import "../_variables"

.materials
    &>div
        padding:0 10px
        margin-bottom:15px
        dl    
            background-color: #eaeaea
            border-radius: 8px
        dt
            float:left
            text-align: center
            padding:10px 0 0 10px
            h2
                font-size 16px
                font-weight:600 
            p
                font-size:14px
                line-height:30px
        dd
            float:right
            img
                display: inline-block
                height: 85px
                max-width:100%
        .clear
            clear:both

.books
    padding:0 15px
    margin-top:15px
    &>div
        border-top:1px solid #eee
    dl:nth-of-type(1)
        padding:0
        img
            height: auto
            max-width:100%
            padding-top:25px
    dl:nth-of-type(2)
        dt  
            margin:15px 0
            font-weight:600
            color:color-theme
        dd:nth-of-type(1)
            color: gray
            font-size: 14px
            height: 68px
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 3
            -webkit-box-orient: vertical
        .down_btn
            margin:10px 0
            a 
                text-decoration: none
                display: block
                padding:5px 15px
                border:1px solid #eaeaea
                border-radius:3px
                margin-top:-7px
                color:gray

            .clear
                clear:both
            
                 
                
   
    
        
        
            
               
        
            
        
            

    