@import "../_variables"
.technology
    font-size: 13px
    text-align: center
    border: 1px solid color-border
    margin-top: 40px
    background: color-background + 50%
    dt
        height: 130px
        background-color:#fff
        padding-top:15px
        img
            display: inline-block
            height: 100px
            max-width: 100%
    dd
        a
            text-decoration: none
        p
            font-size: 18px
            height: 56px
            line-height: 56px
            margin-bottom:0
        .notes
            a
                display: block
                color: #fff
                width: 100px
                height: 30px
                line-height: 30px
                border-radius: 20px
                font-size: 14px
                margin: 0px auto 15px
                background: color-theme
                cursor: pointer
                transition: all .5s
                &:hover
                    background:#49c8fb
        &>div:nth-last-of-type(2), 
        &>div:nth-last-of-type(1)
            margin:0
            &>div
                padding:0
                a   
                    box-sizing:border-box
                    padding:10px 0
                    display: block
                    color:#212529
                    width:100%
                    height:100%
                    border-top:1px solid color-border
                    border-right:1px solid color-border
                    &:hover
                        cursor: pointer
                        background:color-theme
                        border-color:color-theme
                        color:#fff
                &:nth-last-of-type(1)
                    a
                        border-right:0
       
    
